<h1>{{title}}</h1>
<h1>{{Nombre}}</h1>
<div class="imagen">

</div>
<p>
  Nombre: Ricardo Antonio Baca Vallecillo<br/>
  Identidad:0801-1996-09887<br/>
  Genero: Masculino<br/>
  Telefono: 95623602<br/>
  Correo: ricky96_bv@hotmail.com<br/>
  Lugar de Nacimiento: Tegucigalpa, Francisco Morazan <br/>
  Pais: Honduras<br/>
  Direccion de Dimicilio: Colonia La Camapaña<br/>
</p>
<h1>{{Educacion}}</h1>
<p>
  Bachiller en Ciencias y Letras, Hillcrest School, 2013 <br/>
  Estudiante a Curso de la Carrera de Ingenieria en Sistemas UNICAH <br/>
</p>
<h1>{{Trabajo}}</h1>
<p>

Proyectos desarrolados en las Clases: Programación Cientifica, Desarrollo de Software, Negocios Web, Portales<br/>
</p>
<h1>{{Lengua}}</h1>
<p>
    Español Materno<br/>
     Ingles Escritura, Lectura<br/>
</p>

<h1>{{Intereses}}</h1>
<p>
  DJ<br/>
  Cocina<br/>
  Futbol<br/>
  Presidente<br/>
</p>

<h1>{{Presentacion}}</h1>
<p>
  UNICAH
Aldea las Casitas
Tegucigalpa M.D.C Honduras
8/10/2017

Estimados Sres/as de Recurso Humanos
Tengo el agrado de dirigirme a Ud/s con el objetivo de participar en busqueda acordes a mi perfil en su empresa.
Considero que podria integrame adecuadamente a la organizacion ya que soy una persona proactiva y con capacidad para formar parte de un equipo de trabajo.
Agradesco la gentileza de su atencion.
</p>
